[submodule "Online-sources"]
	path = Online-sources
	url = https://github.com/gamersdestiny/Online-sources
[submodule "submodule-workshop"]
	path = submodule-workshop
	url = https://github.com/gamersdestiny/submodule-workshop
