[submodule "Online-sources"]
	path = Online-sources
	url = https://github.com/gamersdestiny/Online-sources
[submodule "submodule-workshop"]
	path = submodule-workshop
	url = https://github.com/gamersdestiny/submodule-workshop
[submodule "workshop-21/simple-login-app"]
	path = workshop-21/simple-login-app
	url = https://github.com/gamersdestiny/simple-login-app.git
[submodule "workshop-20/react-h3a"]
	path = workshop-20/react-h3a
	url = https://github.com/gamersdestiny/react-h3a.git
[submodule "workshop-22/react-redux"]
	path = workshop-22/react-redux
	url = https://github.com/Guna-work/react-redux.git
[submodule "workshop-23/angular-h3a"]
	path = workshop-23/angular-h3a
	url = https://github.com/Guna-work/angular-h3a.git
[submodule "workshop-24/angular-login-app"]
	path = workshop-24/angular-login-app
	url = https://github.com/Guna-work/angular-login-app.git
[submodule "workshop-25/angularjs-25"]
	path = workshop-25/angularjs-25
	url = https://github.com/Guna-work/angularjs-25.git
[submodule "workshop-10/Node-jwt"]
	path = workshop-10/Node-jwt
	url = https://github.com/Guna-work/Node-jwt
[submodule "workshop-11/Node-files"]
	path = workshop-11/Node-files
	url = https://github.com/Guna-work/Node-files
[submodule "workshop-12/node-mongoApi"]
	path = workshop-12/node-mongoApi
	url = https://github.com/Guna-work/node-mongoApi
[submodule "workshop-13/corn-jwt"]
	path = workshop-13/corn-jwt
	url = https://github.com/Guna-work/corn-jwt
[submodule "workshop-15/node-rabbitmq"]
	path = workshop-15/node-rabbitmq
	url = https://github.com/Guna-work/node-rabbitmq
[submodule "workshop-16/node-promise"]
	path = workshop-16/node-promise
	url = https://github.com/Guna-work/node-promise
[submodule "workshop-17/node-api"]
	path = workshop-17/node-api
	url = https://github.com/Guna-work/node-api
